.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 32px 50px;

  .options {
    display: flex;
    gap: 32px;
  }

  button {
    border: 1px solid #f0eadf;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logoIcon {
    width: 160px;
  }

  .logoLink {
    padding: 5px 5px 5px 0;
  }

  .bellIcon,
  .heartIcon,
  .userIcon {
    height: 24px;
  }
}
