.button {
    height: 72px;
    width: 434px;
    font-family: Satoshi;
    background-color: #FF944D;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 16px;
    cursor: pointer;
}