.wrapper {
    display: flex;
    height: calc(100vh - 112px - 50px);
    width: calc(100%-100px);
    margin-top: 112px;
}
.heroImageWrapper {
    width: 50%;
    display: flex;
}
.formWrapper {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}